.time {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

 
  .timer {
    display: flex;
    margin-bottom: 50px;
  }
}
 .title {
    margin-bottom: 50px;
  }

.field:not(:last-child) {
  margin-right: 20px;
}
