<section class="time">
  <h1 class="title">Days to Halloween</h1>
  <div class="timer" id="timer-1">
    <div class="field">
      <span class="value" data-value="days"></span>
      <span class="label">Days</span>
    </div>

    <div class="field">
      <span class="value" data-value="hours"></span>
      <span class="label">Hours</span>
    </div>

    <div class="field">
      <span class="value" data-value="mins"></span>
      <span class="label">Minutes</span>
    </div>

    <div class="field">
      <span class="value" data-value="secs"></span>
      <span class="label">Seconds</span>
    </div>
  </div>
  <div class="control">
    <button type="button" class="start">Запустить</button>
    <button type="button" class="stop">Остановить</button>
  </div>
</section>
